<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Introduction:

In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**

1. List popular languages for Data Science.
2. List popular libraries and tools for Data Science.
3. Explain arithmetic expressions in Python.

## Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R
4. SQL
5. Java
6. C++
7. Javascript
8. Scala

## Libraries

Some of the commonly used libraries used by Data Scientists include:

1. Numpy (Python)
2. Pandas (Python)
3. ggplot2 (R)
4. Tensorflow (Python)
5. Scikit-learn (Python)
6. Caret (R)
7. Matplotlib (Python)
8. PyTorch (Python)

In [14]:
%%html
<style>
table {float:left}
</style>

## Tools for data science

Here is a set of tools commonly used in data science:

| Data Science Tools |
| :--- |
| Jupyter |
| Apache Spark |
| Hadoop |
| Github |
| IntelliJ |
| IBM Cognos |
| Power BI |
| Tableau |
| Apache Airflow |
| Apache Kafka |
| MySQL |
| Oracle DB |
| Kubernetes |
| Docker |

## Arithmetic expresions examples

### Below are a few examples of evaluating arithmetic expressions in Python

* 2 + 3
* -1 * 7
* 2 + 3 * 7

With variables

* x = 1
* y = 4
* z = x * y + 9
* w = x * y / z

## Code cell to multiply and add numbers.

In [19]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Converting minutes to hours

In [21]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Alejandro Arévalo Vásquez - Bogotá, Colombia